
<table class="tx-vmfds-prayers" >
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayers_domain_model_request.name" />
		</td>
		<td>
		{request.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayers_domain_model_request.show_name" />
		</td>
		<td>
		{request.showName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayers_domain_model_request.email" />
		</td>
		<td>
		{request.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmfdsprayers_domain_model_request.request" />
		</td>
		<td>
		{request.request}
		</td>
	</tr>
</table>